//! **************************************************************************
// Written by: Map O.87xf on Wed Apr 05 21:54:55 2017
//! **************************************************************************

SCHEMATIC START;
COMP "y" LOCATE = SITE "M5" LEVEL 1;
COMP "a" LOCATE = SITE "N3" LEVEL 1;
COMP "b" LOCATE = SITE "E2" LEVEL 1;
COMP "c" LOCATE = SITE "F3" LEVEL 1;
COMP "d" LOCATE = SITE "G3" LEVEL 1;
SCHEMATIC END;

