net "Clock" loc=B8;
net "c" loc=G1;
NET "seg[0]" LOC = L14;
NET "seg[1]" LOC = H12;
NET "seg[2]" LOC = N14;
NET "seg[3]" LOC = N11;
NET "seg[4]" LOC = P12;
NET "seg[5]" LOC = L13;
NET "seg[6]" LOC = M12;
NET "seg[7]" LOC = N13;
net "an[3]" loc=K14;
net "an[2]" loc=M13;
net "an[1]" loc=J12;
net "an[0]" loc=F12;
net "trig" loc=A3;
NET "echo" CLOCK_DEDICATED_ROUTE = FALSE;
net "echo" loc=B2;
net "chaoclk" loc=M5;
net "opt" loc=A7;
net "ctrl" loc=P11;