//! **************************************************************************
// Written by: Map O.87xf on Wed Apr 05 21:52:44 2017
//! **************************************************************************

SCHEMATIC START;
COMP "y<0>" LOCATE = SITE "G1" LEVEL 1;
COMP "y<1>" LOCATE = SITE "P4" LEVEL 1;
COMP "y<2>" LOCATE = SITE "N4" LEVEL 1;
COMP "y<3>" LOCATE = SITE "N5" LEVEL 1;
COMP "y<4>" LOCATE = SITE "P6" LEVEL 1;
COMP "y<5>" LOCATE = SITE "P7" LEVEL 1;
COMP "a<0>" LOCATE = SITE "N3" LEVEL 1;
COMP "y<6>" LOCATE = SITE "M11" LEVEL 1;
COMP "a<1>" LOCATE = SITE "E2" LEVEL 1;
COMP "y<7>" LOCATE = SITE "M5" LEVEL 1;
COMP "a<2>" LOCATE = SITE "F3" LEVEL 1;
SCHEMATIC END;

