//! **************************************************************************
// Written by: Map O.87xf on Thu May 04 09:37:53 2017
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "an<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "sync" LOCATE = SITE "B2" LEVEL 1;
COMP "an<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "an<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "a_to_g<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "cs" LOCATE = SITE "C6" LEVEL 1;
COMP "a_to_g<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "a_to_g<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "din" LOCATE = SITE "A3" LEVEL 1;
COMP "a_to_g<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "a_to_g<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "a_to_g<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "a_to_g<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "sclk" LOCATE = SITE "B7" LEVEL 1;
COMP "sdata" LOCATE = SITE "B6" LEVEL 1;
COMP "sclk1" LOCATE = SITE "B5" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

