net "clk" loc=B8;
net "clr" loc=A7;
net "load" loc=M4;
net "type" loc=P11;
net "in[3]" loc=N3;
net "in[2]" loc=E2;
net "in[1]" loc=F3;
net "in[0]" loc=G3;
net "a_to_g[0]" loc="M12";
net "a_to_g[1]" loc="L13";
net "a_to_g[2]" loc="P12";
net "a_to_g[3]" loc="N11";
net "a_to_g[4]" loc="N14";
net "a_to_g[5]" loc="H12";
net "a_to_g[6]" loc="L14";
net "an[3]" loc="K14";
net "an[2]" loc="M13";
net "an[1]" loc="J12";
net "an[0]" loc="F12";