net "a_to_g[0]" loc="M12";
net "a_to_g[1]" loc="L13";
net "a_to_g[2]" loc="P12";
net "a_to_g[3]" loc="N11";
net "a_to_g[4]" loc="N14";
net "a_to_g[5]" loc="H12";
net "a_to_g[6]" loc="L14";
net "an[3]" loc="K14";
net "an[2]" loc="M13";
net "an[1]" loc="J12";
net "an[0]" loc="F12";
net "clk" loc=B8;
net "clr" loc=G12;
net "x[0]" loc=P11;
net "x[1]" loc=L3;
net "x[2]" loc=K3;
net "x[3]" loc=B4;
net "x[4]" loc=G3;
net "x[5]" loc=F3;
net "x[6]" loc=E2;
net "x[7]" loc=N3;