//! **************************************************************************
// Written by: Map O.87xf on Mon Apr 10 23:32:00 2017
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "an<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "an<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "an<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "a_to_g<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "a_to_g<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "a_to_g<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "a_to_g<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "a_to_g<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "a_to_g<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "clr" LOCATE = SITE "G12" LEVEL 1;
COMP "a_to_g<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "x<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "x<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "x<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "x<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "x<4>" LOCATE = SITE "G3" LEVEL 1;
COMP "x<5>" LOCATE = SITE "F3" LEVEL 1;
COMP "x<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "x<7>" LOCATE = SITE "N3" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

