//! **************************************************************************
// Written by: Map O.87xf on Wed Apr 19 22:03:19 2017
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "an<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "an<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "an<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "a_to_g<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "a_to_g<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "a_to_g<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "a_to_g<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "a_to_g<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "a_to_g<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "a_to_g<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "clk_50mHz" LOCATE = SITE "B8" LEVEL 1;
NET "clk_50mHz_BUFGP/IBUFG" BEL "clk_50mHz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

