net "clk" loc=B8;
net "clr" loc=G12;
net "clkImpulse" loc=A3;
net "echo" loc=B2;
net "echo_t[7]" loc=G1;
net "echo_t[6]" loc=P4;
net "echo_t[5]" loc=N4;
net "echo_t[4]" loc=N5;
net "echo_t[3]" loc=P6;
net "echo_t[2]" loc=P7;
net "echo_t[1]" loc=M11;
net "echo_t[0]" loc=M5;
net "a_to_g[0]" loc=M12;
net "a_to_g[1]" loc=L13;
net "a_to_g[2]" loc=P12;
net "a_to_g[3]" loc=N11;
net "a_to_g[4]" loc=N14;
net "a_to_g[5]" loc=H12;
net "a_to_g[6]" loc=L14;
net "an[3]" loc=K14;
net "an[2]" loc=M13;
net "an[1]" loc=J12;
net "an[0]" loc=F12;