net "a_to_g[0]" loc="M12";
net "a_to_g[1]" loc="L13";
net "a_to_g[2]" loc="P12";
net "a_to_g[3]" loc="N11";
net "a_to_g[4]" loc="N14";
net "a_to_g[5]" loc="H12";
net "a_to_g[6]" loc="L14";
net "an[3]" loc="K14";
net "an[2]" loc="M13";
net "an[1]" loc="J12";
net "an[0]" loc="F12";
net "clk" loc=B8;
#NET "clr" CLOCK_DEDICATED_ROUTE = FALSE;
#net "clr" loc=N3;
net "Second_Flash" loc=M5;
net "set_minute_H" loc=C11;
net "set_minute_L" loc=G12;
net "set_hour_H" loc=A7;
net "set_hour_L" loc=M4;
net "set" loc=P11;
net "Ssecond_L[3]" loc=G3;
net "Ssecond_L[2]" loc=B4;
net "Ssecond_L[1]" loc=K3;
net "Ssecond_L[0]" loc=L3;
net "Ssecond_H[2]" loc=N3;
net "Ssecond_H[1]" loc=E2;
net "Ssecond_H[0]" loc=F3;
net "Second_L[3]" loc=N5;
net "Second_L[2]" loc=P6;
net "Second_L[1]" loc=P7;
net "Second_L[0]" loc=M11;
net "Second_H[2]" loc=G1;
net "Second_H[1]" loc=P4;
net "Second_H[0]" loc=N4;

